@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat-bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'VelaSans';
  src: url('./fonts/VelaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'VelaSans', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #16191d;
  background-color: #fff;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#app {
  padding: 0 15px;
  max-width: 1330px;
  margin: 0 auto;
  font-weight: normal;
}

.btn-reset {
  border: none;
  cursor: pointer;
  font-family: 'VelaSans';
}

.btn-create {
  font-size: 18px;
  background: #f0f5ff;
  border-radius: 8px;
  width: 153px;
  height: 48px;
  color: #314b99;
  transition: 200ms ease-in-out;

  &:hover {
    background-color: darken($color: #f0f5ff, $amount: 5);
  }
}
